body { /*#FF6A00*/
	background-color: #efefef;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13pt;
	color: #222222;
}

.page {
	width: 900px;
	margin: 0 auto 40px;
}

.content {
	min-height: 500px;
}

h1, h2, h3, h4, h5, h6, dt, a.button, input[type=submit],.user-groups ul li .topic {
	font-family: 'Allan', cursive;
}

.navbar {
	/*background:  #FFA300 url(/assets/themes/pghtechfest/images/raysbackground1.png);
	background-position: center -375px;
	background-repeat: no-repeat; */
	height: 225px;
	border-bottom: 40px #000 solid;
	-moz-box-shadow: 0 0 85px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 85px rgba(0, 0, 0, .5);
	box-shadow: 0 0 85px rgba(0, 0, 0, .5);
}

.navbar ul {
	margin-top: 0;
}

.skyline {
	background: url(/assets/themes/pghtechfest/images/smallorangeskyline.png) left bottom;
	background-repeat: no-repeat;
	height: 200px;
	width: 505px;
}

.navbar-inner {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	color: #000000;
	text-shadow: 0px 0px 5px #CCC;
}

.navbar-inner h1 a {
	color: #efefef;
}

.navbar-inner h1 {
	color: #efefef;
	text-align: center;
	font-size: 5em;
	text-shadow: 0px 0px 15px #7F3300;
	margin-bottom: 0;
}

.navbar-inner h2 {
	font-size: 5em;
	margin: 0;
	margin-bottom: -75px;
}

.navbar-inner .info {
	margin-top: 0px;
	float: right;
	display: inline-block;
	text-align: center;
	width: 250px;
}

.navbar-inner .info span {
	font-weight: bold;
	font-size: 2em;
	display: block;
	font-family: 'Allan',cursive;
}

.navbar-inner .info .location {
	font-size: 2em;
}
.nav, .nav ul {
	padding: 0;
	margin: -40px 0px 0px 0px;
	list-style: none;
	height:40px;
	background-color:#000;
}

.nav a {
	display: block;
	padding:5px 50px 0px 50px;
	height:35px;
	font-family: 'Allan',cursive;
	color:#CCC !important;
	font-size:22px;
}
.nav a:hover {
	color:#FFFFFF !important;
	text-decoration:none;
	background-color:#494949;
}

.nav li:first-child {
	margin-left:-6%;
}
.nav li {
	float: left;
	padding:0 0 0 0;
}

h1 {
	font-size: 3em;
	margin-top: 0px;
}

.main-content .header-caption {
	font-size: 2.5em;
	display: inline-block;
	width: 480px;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 100px;
	color: #555555;
}

a, a:visited, a:link {
	text-decoration: none;
	color: #7F3300;
}

a:hover {
	text-decoration: underline;
}

.keynote,
.help-out,
.about,
.user-groups,
.sponsors,
#reg_title {
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

.keynote img {
	border: 10px white solid;
	-moz-box-shadow: 0px 0px 10px #333333;
	-webkit-box-shadow: 0px 0px 10px #333333;
	box-shadow: 0px 0px 10px #333333;
}

.keynote .presenter {
	width: 600px;
	float: right;
}

.keynote .presenter h3,
.agenda h3,
.about h3,
.help-out h3,
.user-groups h3,
.sponsors h3 {
	font-size: 2em;
	margin-bottom: 0;
	margin-top: 0;
}

.keynote .presenter h4,
.agenda h4,
.about h4,
.help-out h4 {
	font-size: 1.5em;
	margin-bottom: 0;
	margin-top: 20px;
}

.keynote .presenter span {
	display: block;
	margin-bottom: 1em;
	text-align: justify;
}

.keynote .presenter .name {
	font-size: 2em;
	color: #444444;
}

.agenda {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 1em;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	padding: 50px;
}

.about {
	text-align: justify;
}

.help-out > div {
	display: inline-block;
	width: 45%;
	margin: 20px;
}

.help-out .left-column {
	float: left;
}
.help-out .right-column {
	float: right;
}

.help-out .center {
	text-align: center;
}

.help-out .ways > div a {
	display: inline-block;
	margin-left: 20px;
	float: right;
}

.help-out .ways > div {
	display: block;
	margin-top: 20px;
	margin-bottom: 30px;
}

.help-out p {
	text-align: justify;
}

.user-groups ul {
	list-style: none;
	padding-left: 0;
}

.user-groups ul li {
	font-size: 13pt;
	margin: 10px;
}

.user-groups ul li .topic {
	width: 100px;
	text-align: right;
	display: inline-block;
	margin-right: 50px;
	font-weight: bold;
	color: #999999;
}

.sponsors {
	margin-top: 100px;
	border: 1px solid #d0d0d0;
	background-color: #dfdfdf;
	border-radius: 20px 20px;
}

.sponsors h3 {
	text-align: center;
}

.sponsors a {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin: 50px;
}
.sponsorspage {
	margin-top: 25px;
	padding-top: 0px;
}

.sponsorspage a {
	margin: 30px;
}

a.button, input[type=submit] {
	background-color: #7F3300;
	color: #efefef;
	text-shadow: 0px 0px 15px #7F3300;
	font-weight: bold;
	padding: 15px;
	font-size: 1.5em;
	-moz-box-shadow: 0px 0px 10px #333333;
	-webkit-box-shadow: 0px 0px 10px #333333;
	box-shadow: 0px 0px 10px #333333;
	cursor: pointer;
	border: 0;
}
a.button:hover, input[type=submit]:hover {
	background-color: #FFA300;
	text-decoration: none;
}

h1 a:hover {
	text-decoration: none;
}

footer {
	text-align: center;
}

footer img {
	width: 25px;
	height: auto;
	vertical-align: top;
	margin-right: 10px;
}

.clear {
	clear: both;
}

/* @override http://www.morningcopy.com.au/css/google-form.css */

.ss-q-title
{display:block;font-weight:bold;
color: #45321c;}

form ul
{padding:0 0 1em 1em}ol{padding:0 0 1em 1.3em}

form li
{line-height:1.5em;padding:0 0 .5em 0}

form p
{padding:0 0 1em 0}

form input,select,textarea,option
{font-family:inherit;font-size: 16px;
padding: 5px;
border: 1px solid #cccccc;
color: #424242;
background-color: #ffffff;}

form input[type=text]
{width:692px;}

form .ss-textarea
{max-width:99%}

form .ss-q-help
{display:block;color:#666;margin:.1em 0 .25em 0}

form .ss-q-long
{max-width:90%}

form .ss-form-entry
{margin-bottom:1.5em}

form .ss-choices
{list-style:none;margin:.5em 0 0 0;padding:0}

form .ss-required-asterisk
{color:#c43b1d}

form label
{display:block;cursor:pointer}

form ul label
{display:inline}

#entry_9 {
	width: 200px;
}
a img {
	border: none !important;
}