<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-css-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
<meta charset="utf-8" />

<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable=0" />
<title>Pittsburgh Tech Fest 2012: Bridging Pittsburgh's Technology Communities</title>

<!-- Included CSS Files -->
<link rel="stylesheet" href="css/foundation.css">
<link rel="stylesheet" href="css/app.css">
<link rel="stylesheet" href="css/ptf.css">
<script src="js/lib/foundation-ck.js"></script>

<!--[if lt IE 9]>
    <link rel="stylesheet" href="css/ie.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>
<!-- container -->
<div class="container">
  <div id="logo" class="row">
    <div class="six columns"> <a href="index.html"><img src="images/pittsburghtechfest-vector.png" width="350" height="200" alt="Pittsburgh Tech Fest"></a> </div>
    <div id="info" class="six columns">
      <p>
      <div>June 9, 2012 <br>
        @ <br>
        La Roche College</div>
      <a href="https://twitter.com/pghtechfest12" target="_blank"><img src="images/twitter.png" width="64" height="64" alt="twitter"></a><a href="http://linkd.in/Hkw1M5" target="_blank"><img src="images/linkedin.png" alt="linkedin" width="64" height="64" border="0"></a><a href="https://www.facebook.com/PghTechFest" target="_blank"><img src="images/facebook.png" width="64" height="64" alt="facebook"></a>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <div id="nav">
        <ul class="mobile-menu">
          <li><a href="Sessions.html">Sessions</a></li>
          <li><a href="sponsors.html">Sponsors</a></li>
          <li><a href="speakers.html">Speakers</a></li>
          <li><a href="favorites.html">Favorites</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="http://pghtechfest2012.eventbrite.com/" target="_blank">Register</a></li>
        </ul>
      </div>
    </div>
  </div>

<div class="row short">
  <div class="twelve columns">

    <h1>Contact Pittsburgh Tech Fest</h1>
    <p>If you have any questions regarding Pittsburgh TechFest, please contact us at
     <a href='mailto:pittsburghtechfest@gmail.com'>pittsburghtechfest@gmail.com</a>.</p>

  </div>
</div>












</div><!--end container-->


<div id="footer">



<!-- container -->
  <div class="container">


<div class="row">

<h3>&copy; Pittsburgh TechFest 2012</h3>

<p>Web Development by <a href="http://www.treetop.us" target="_blank">Treetop Interactive</a></p>



</div>




</div><!--end second container-->
</div>




<script src="js/app.js"></script>



</body>
</html>
