<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,400,300|Allan:700' rel='stylesheet' type='text/css'>
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="/assets/themes/pghtechfest/images/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/themes/pghtechfest/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/themes/pghtechfest/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/themes/pghtechfest/images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container"> <a href="/"><img src="/assets/themes/pghtechfest/images/pittsburghtechfest-vector.png" width="350" height="200" alt="Pittsburgh Tech Fest"></a>
      <div class="info"> <span>June 9, 2012 <br>
@ <br>
La Roche College</span><a href="https://twitter.com/pghtechfest12" target="_blank"><img src="/assets/themes/pghtechfest/images/twitter.png" width="64" height="64" alt="twitter"></a><a href="http://linkd.in/Hkw1M5" target="_blank"><img src="/assets/themes/pghtechfest/images/linkedin.png" alt="linkedin" width="64" height="64" border="0"></a><a href="https://www.facebook.com/PghTechFest" target="_blank"><img src="/assets/themes/pghtechfest/images/facebook.png" width="64" height="64" alt="facebook"></a> </div>
    </div>
      </div>
    </div>
    <div class="page">

      <div class="container">
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>

        <div class="content">
          {{ content }}
        </div>

        <footer>
          <p>&copy; {{ site.author.name }} 2012<br/>site design by:<br>
          <br>
          <a href="http://www.treetop.us/"><img src="https://si0.twimg.com/profile_images/1706646743/treetop_mini.png" alt="Treetop Interactive"> Treetop Interactive</a>
          </p>
        </footer>

      </div> <!-- /container -->
    </div>
    {% include JB/analytics %}
  </body>
</html>
