<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-css-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
<meta charset="utf-8" />

<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable=0" />
<title>Pittsburgh Tech Fest 2012: Bridging Pittsburgh's Technology Communities</title>

<!-- Included CSS Files -->
<link rel="stylesheet" href="css/foundation.css">
<link rel="stylesheet" href="css/app.css">
<link rel="stylesheet" href="css/ptf.css">
<script src="js/lib/foundation-ck.js"></script>

<!--[if lt IE 9]>
    <link rel="stylesheet" href="css/ie.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>
<!-- container -->
<div class="container">
  <div id="logo" class="row">
    <div class="six columns"> <a href="index.html"><img src="images/pittsburghtechfest-vector.png" width="350" height="200" alt="Pittsburgh Tech Fest"></a> </div>
    <div id="info" class="six columns">
      <p>
      <div>June 9, 2012 <br>
        @ <br>
        La Roche College</div>
      <a href="https://twitter.com/pghtechfest12" target="_blank"><img src="images/twitter.png" width="64" height="64" alt="twitter"></a><a href="http://linkd.in/Hkw1M5" target="_blank"><img src="images/linkedin.png" alt="linkedin" width="64" height="64" border="0"></a><a href="https://www.facebook.com/PghTechFest" target="_blank"><img src="images/facebook.png" width="64" height="64" alt="facebook"></a>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <div id="nav">
        <ul class="mobile-menu">
          <li><a href="Sessions.html">Sessions</a></li>
          <li><a href="Sponsors.html">Sponsors</a></li>
          <li><a href="Speakers.html">Speakers</a></li>
          <li><a href="favorites.html">Favorites</a></li>
          <li><a href="contact.html">Contact</a></li>

        </ul>
      </div>
    </div>
  </div>
<div id="sponsors" class="sponsor-page">
    <div class="row">
      <div class="twelve columns">

    <h2>Thanks to all of our sponsors:</h2>
      </div>
    </div>


    <div class="row">
      <div class="twelve columns">
<div class="highlight"><h3>Premier Sponsor</h3></div>
<p><a href="http://www.componentone.com" target="_blank"><img src="images/ptf/sponsors/componentone.png" ALT="Component One" /></a></p>

<div class="highlight"><h3>Platinum Sponsor</h3></div>
<p><a href="http://www.protechtraining.com/" target="_blank"><img src="/assets/themes/pghtechfest/images/Protech-Training.jpg" ALT="ProTech Training" /></a></p>
<div class="highlight"><h3>Gold Sponsor</h3></div>
<p><a href="http://www.discountasp.net" target="_blank"><img src="images/ptf/sponsors/daspnet.gif" alt="Discount ASP.Net" /></a> </p>
<br /><br />
<div class="highlight"><h3>Silver Sponsors</h3></div>
<a href="http://www.10gen.com/" target="_blank"><img src="images/10gen.jpg" alt="10gen" /></a>
<a href="http://www.ceiamerica.com/" target="_blank"><img src="images/cei.jpg" alt="CEI" /></a>
<a href="http://www.ciber.com/" target="_blank"><img src="images/ciber.png" alt="Ciber" /></a>
<a href="http://www.gentech.com/" target="_blank"><img src="images/gentech.jpg" alt="Gentech" /></a>
<a href="http://www.microsoft.com/" target="_blank"><img src="images/microsoft.jpg" alt="Microsoft" /></a>
<a href="http://www.red-gate.com/?utm_source=ug&utm_medium=uglogo&utm_content=pittsburgcodecamp&utm_campaign=redgate" target="_blank"><img src="images/redgate.png" alt="Redgate" /></a>
<a href="http://www.smithmicro.com/" target="_blank"><img src="images/SmithMicro_lrg.jpg" alt="Smith Micro" /></a>
<a href="http://www.telerik.com/" target="_blank"><img src="images/telerik.gif" alt="Telerik" /></a>


    </div>
    </div>




</div><!--end sponsors div-->




</div><!--end container-->


<div id="footer">



<!-- container -->
  <div class="container">


<div class="row">

<h3>&copy; Pittsburgh TechFest 2012</h3>

<p>Web Development by <a href="http://www.treetop.us" target="_blank">Treetop Interactive</a></p>



</div>




</div><!--end second container-->
</div>


<script type="text/javascript">
    sessionsData = {};
</script>

  <!-- Included JS Files -->
  <script src="js/app.js"></script>



</body>
</html>
